{{app_env}}:
  admin_name: {{admin_name}}
  admin_email: {{admin_email}}
  admin_password: {{admin_password}}
  email_provider_username: {{email_provider_username}}
  email_provider_apikey: {{email_provider_apikey}}
  domain_name: {{deploy_hostname}}
  secret_key_base: {{app_secret_key_base}}
  secret_token: {{app_secret_token}}
